.container
{
	width: 100%;

}
.wrapper
{
	width: 900px;
	margin: auto;
}
.dark
{
	background-color: #37b318;
	color: white;
}

*{
	margin:0px;
	}
ul li
{
	
	width: 130px;
	display: inline-block;
	height: 35px;
	line-height: 35px;
	text-align: center;
}
ul li a
{
	color: rgb(46, 0, 251);
	text-decoration: none;
	display: block;
}

ul li a:hover
{
	background-color: rgb(0, 238, 255);
	color:black;
}

ul li{
	cursor: pointer;
	margin-left: 65px;
}